@import "./../../assets/colors/index.scss";

.title {
    color: $text;
    font-size: 56px;
    text-align: center;
}

.buttons {
    margin-top: 200px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    border: none;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }

    &_classic {
        background: $scissorsGradient;
        color: $text;
        transition: all 0.2s ease-in;

        &:hover {
            opacity: 0.85;
        }
    }

    &_bonus {
        background: $rockGradient;
        color: $text;
        transition: all 0.2s ease-in;

        &:hover {
            opacity: 0.85;
        }
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 46px;
        width: 90%;
    }

    .buttons {
        width: 90%;
        margin-top: 100px;
        margin-bottom: 100px;
        flex-direction: column;
        text-align: center;
    }

    .button:first-child {
        margin-bottom: 30px;
    }
}