@import "./../../assets/colors/index.scss";

.btn-scissors {
  width: 145px;
  height: 140px;
  border-radius: 100px;
  border: none;
  background: $scissorsGradient;
  z-index: 2;
  box-shadow: 0 8px 0 0 $scissorsShadow;

  &_result {
    position: relative;
    top: 0;
    left: 0;
  }

  &_classic {
    position: relative;
    top: -30px;
    left: 50px;
  }

  &_bonus {
    position: relative;
    top: -70px;
    left: -60px;
  }

  &_hover {
    cursor: pointer;

    &:hover {
      background: $scissorsHover;
      box-shadow: 0 8px 0 0 $scissorsShadowHover;
    }
  }

  &__background {
    width: 100px;
    height: 100px;
    background-color: $white;
    border-radius: 100px;
    margin: auto;
    box-shadow: 0 -4px 0 2px $backgroundShadow;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .btn-scissors {
    width: 125px;
    height: 120px;

    &_classic {
      position: relative;
      top: -140px;
      left: 190px;
    }

    &_bonus {
      position: relative;
      top: -150px;
      left: 100px;
    }

    &__background {
      width: 80px;
      height: 80px;
    }
  }
}

@media (max-height: 768px) {
  .btn-scissors {
    width: 110px;
    height: 110px;

    &_classic {
      position: relative;
      top: -110px;
      left: 210px;
    }

    &__background {
      width: 70px;
      height: 70px;
    }

    &__image {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 580px) {
  .btn-scissors {
    width: 90px;
    height: 90px;

    &_classic {
      top: 30px;
      left: 10px;
    }

    &_bonus {
      top: 0;
      left: -65px;
    }

    &__background {
      width: 60px;
      height: 60px;
    }

    &__image {
      width: 40px;
      height: 40px;
    }
  }
}