.count_win {
  transition: all 0.2s ease-in;
  color: hsl(118, 61%, 46%);
  font-size: 58px;
}

.count_lose {
  transition: all 0.2s ease-in;
  color: hsl(0, 77%, 57%);
  font-size: 58px;
}

.game-bonus {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 10%;
}
.game-bonus__pentagon {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-bonus {
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  color: hsl(0, 0%, 90%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border-radius: 10px;
}
.btn-bonus__return {
  position: absolute;
  top: 93%;
  right: 280px;
}
.btn-bonus__rules {
  position: absolute;
  top: 93%;
  right: 100px;
}
.btn-bonus:hover {
  opacity: 0.8;
  cursor: pointer;
}

.result-bonus {
  display: flex;
  justify-content: center;
}
.result-bonus__text {
  text-transform: uppercase;
  color: hsl(0, 0%, 90%);
  font-size: 16px;
  letter-spacing: 0.1rem;
  margin-bottom: 50px;
  text-align: center;
}

.block-bonus {
  width: 0;
  text-align: center;
  margin-top: 70px;
  display: none;
  transition: all 0.2s ease-in;
}
.block-bonus_active {
  display: block;
  width: 200px;
}
.block-bonus__title {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 38px;
}
.block-bonus__button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 25%, 31%);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.block-bonus__button:hover {
  color: hsl(0, 75%, 57%);
}

.user-bonus {
  margin-right: 50px;
}

.computer-bonus {
  margin-left: 50px;
}

.circle-bonus {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: hsl(237, 56%, 15%);
  animation-name: circle-shrink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes circle-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .result-bonus {
    width: 100%;
    justify-content: space-between;
  }
  .result-bonus__text {
    width: 150px;
  }
  .block-bonus_active {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
  }
  .count_win {
    font-size: 42px;
  }
  .count_lose {
    font-size: 42px;
  }
  .user-bonus {
    margin-right: 0;
  }
  .computer-bonus {
    margin-left: 0;
  }
  .game-bonus {
    width: 320px;
  }
  .game-bonus__pentagon {
    width: 260px;
  }
  .circle-bonus {
    width: 125px;
    height: 120px;
    margin: auto;
  }
  .btn-bonus__return {
    top: 85%;
    right: 50%;
    transform: translate(50%, 0);
  }
  .btn-bonus__rules {
    top: 92%;
    right: 50%;
    transform: translate(50%);
  }
}
@media (max-height: 768px) {
  .game-bonus {
    margin-top: 0;
    margin-bottom: 15%;
  }
  .game-bonus__pentagon {
    width: 200px;
  }
  .circle-bonus {
    width: 110px;
    height: 110px;
    margin: auto;
  }
  .result-bonus {
    margin-top: 10px;
  }
  .result-bonus__text {
    margin-bottom: 30px;
  }
  .user-bonus {
    margin-right: 80px;
  }
  .choice-bonus {
    width: 320px;
    margin: auto;
  }
  .block-bonus_active {
    top: 100px;
  }
  .block-bonus__title {
    font-size: 30px;
  }
  .block-bonus__button {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 40px;
  }
  .btn-bonus__return {
    top: 83%;
    left: 50%;
    transform: translate(-50%);
  }
  .btn-bonus__rules {
    top: 92%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-heigth: 680px) {
  .game-bonus {
    margin-bottom: 0;
  }
}
@media (max-height: 768px) and (max-width: 768px) {
  .user-bonus {
    margin-right: 0;
  }
}
@media (max-width: 580px) {
  .circle-bonus {
    width: 80px;
    height: 80px;
  }
}/*# sourceMappingURL=index.css.map */