@import "./../../assets/colors/index.scss";

.count_win {
  transition: all 0.2s ease-in;
  color: $lightGreen;
  font-size: 58px;
}

.count_lose {
  transition: all 0.2s ease-in;
  color: $lightRed;
  font-size: 58px;
}

.game-bonus {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 10%;

  &__pentagon {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-bonus {
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid $headerOutline;
  color: $text;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border-radius: 10px;

  &__return {
    position: absolute;
    top: 93%;
    right: 280px;
  }

  &__rules {
    position: absolute;
    top: 93%;
    right: 100px;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.result-bonus {
  display: flex;
  justify-content: center;

  &__text {
    text-transform: uppercase;
    color: $text;
    font-size: 16px;
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
    text-align: center;
  }
}

.block-bonus {
  width: 0;
  text-align: center;
  margin-top: 70px;
  display: none;
  transition: all 0.2s ease-in;

  &_active {
    display: block;
    width: 200px;
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    font-size: 38px;
  }

  &__button {
    background-color: $white;
    color: $darkText;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      color: $red;
    }
  }
}

.user-bonus {
  margin-right: 50px;
}

.computer-bonus {
  margin-left: 50px;
}

.circle-bonus {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: $circle;
  animation-name: circle-shrink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes circle-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .result-bonus {
    width: 100%;
    justify-content: space-between;

    &__text {
      width: 150px;
    }
  }

  .block-bonus {
    &_active {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .count_win {
    font-size: 42px;
  }

  .count_lose {
    font-size: 42px;
  }

  .user-bonus {
    margin-right: 0;
  }

  .computer-bonus {
    margin-left: 0;
  }

  .game-bonus {
    width: 320px;

    &__pentagon {
      width: 260px;
    }
  }

  .circle-bonus {
    width: 125px;
    height: 120px;
    margin: auto;
  }

  .btn-bonus {
    &__return {
      top: 85%;
      right: 50%;
      transform: translate(50%, 0);
    }

    &__rules {
      top: 92%;
      right: 50%;
      transform: translate(50%);
    }
  }
}

@media (max-height: 768px) {
  .game-bonus {
    margin-top: 10px;

    &__pentagon {
      width: 200px;
    }
  }

  .count_win {
    font-size: 40px;
  }

  .count_lose {
    font-size: 40px;
  }

  .circle-bonus {
    width: 90px;
    height: 90px;
    margin: auto;
  }

  .result-bonus {
    margin-top: 10px;

    &__text {
      margin-bottom: 30px;
    }
  }

  .user-bonus {
    margin-right: 80px;
  }

  .choice-bonus {
    width: 320px;
    margin: auto;
  }

  .block-bonus {
    &_active {
      top: 100px;
    }

    &__title {
      font-size: 30px;
    }

    &__button {
      margin-top: 10px;
      font-size: 14px;
      padding: 10px 40px;
    }
  }

  .btn-bonus {
    &__return {
      top: 83%;
      left: 50%;
      transform: translate(-50%);
    }

    &__rules {
      top: 92%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

@media (max-heigth: 680px) {
  .game-bonus {
    margin-bottom: 0;
  }
}

@media (max-height: 768px) and (max-width: 768px) {
  .user-bonus {
    margin-right: 0;
  }
}

@media (max-width: 580px) {
  .circle-bonus {
    width: 80px;
    height: 80px;
  }

  .game-bonus {

    &__pentagon {
      width: 200px;
    }
  }
}

@media (max-height: 580px) {
  .game-bonus {
    margin-top: 0;
    margin-bottom: 7%;
  }
}