@import "./../../assets/colors/index.scss";

.popup-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.335s linear;
    z-index: 3;

    &_opened {
        visibility: visible;
        opacity: 1;
    }

    &__container {
        background-color: $white;
        padding: 30px;
        border-radius: 10px;
    }

    &__section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        text-transform: uppercase;
        color: $darkText;
    }

    &__close-btn {
        background: url(./../../assets/images/icon-close.svg);
        width: 20px;
        height: 20px;
        border: none;
        transition: all 0.2s ease-in;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.border {
    width: 600px;
    height: 10 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 4px solid $headerOutline;
    border-radius: 20px;
    margin-bottom: 100px;
}

.score {
    width: 150px;
    height: 100px;
    background-color: $text;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__subtitle {
        text-transform: uppercase;
        color: $scoreText;
        letter-spacing: 0.1rem;
    }

    &__count {
        color: $darkText;
        font-size: 58px;
    }
}

.game {
    position: relative;
    width: 600px;
    height: 300px;
    margin-bottom: 150px;

    &__triangle {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn {
    width: 145px;
    height: 140px;
    border-radius: 100px;
    position: relative;
    z-index: 2;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &__background {
        width: 100px;
        height: 100px;
        background-color: $white;
        border-radius: 100px;
        margin: auto;
        box-shadow: 0 -4px 0 2px $backgroundShadow;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn-paper {
    background: $paperGradient;
    position: relative;
    left: 130px;
    top: -30px;
    box-shadow: 0 8px 0 0 $paperShadow;

    &:hover {
        background: $paperHover;
        box-shadow: 0 8px 0 0 $paperShadowHover;
    }
}

.btn-rock {
    background: $rockGradient;
    position: relative;
    left: 90px;
    top: 150px;
    box-shadow: 0 8px 0 0 $rockShadow;
    
    &:hover {
        background: $rockHover;
        box-shadow: 0 8px 0 0 $rockShadowHover;
    }
}

.btn-scissors {
    background: $scissorsGradient;
    position: relative;
    left: 50px;
    top: -30px;
    box-shadow: 0 8px 0 0 $scissorsShadow;

    &:hover {
        background: $scissorsHover;
        box-shadow: 0 8px 0 0 $scissorsShadowHover;
    }
}

.rules-btn {
    position: absolute;
    top: 90%;
    right: 100px;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid $headerOutline;
    color: $text;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border-radius: 10px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

@media (max-height: 768px) {
    .game {
        margin-bottom: 80px;
    }
}

@media (max-heigth: 680px) {
    .game {
        margin-bottom: 0;
    }
}