.border {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 4px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  margin-bottom: 100px;
}

.score {
  width: 150px;
  height: 100px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score__subtitle {
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
  letter-spacing: 0.1rem;
}
.score__count {
  transition: all 0.2s ease-in;
  color: hsl(229, 25%, 31%);
  font-size: 58px;
}

.count_win {
  transition: all 0.2s ease-in;
  color: hsl(118, 61%, 46%);
  font-size: 58px;
}

.count_lose {
  transition: all 0.2s ease-in;
  color: hsl(0, 77%, 57%);
  font-size: 58px;
}

.game {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 150px;
}
.game__triangle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  color: hsl(0, 0%, 90%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border-radius: 10px;
}
.btn__return {
  position: absolute;
  top: 90%;
  right: 280px;
}
.btn__rules {
  position: absolute;
  top: 90%;
  right: 100px;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.result {
  display: flex;
  justify-content: center;
}
.result__text {
  text-transform: uppercase;
  color: hsl(0, 0%, 90%);
  font-size: 16px;
  letter-spacing: 0.1rem;
  margin-bottom: 50px;
  text-align: center;
}

.result-block {
  width: 0;
  text-align: center;
  margin-top: 70px;
  display: none;
  transition: all 0.2s ease-in;
}
.result-block_active {
  display: block;
  width: 200px;
}
.result-block__title {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 38px;
}
.result-block__button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 25%, 31%);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.result-block__button:hover {
  color: hsl(0, 75%, 57%);
}

.user-choice {
  margin-right: 50px;
}

.computer-choice {
  margin-left: 50px;
}

.circle {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: hsl(237, 56%, 15%);
  animation-name: circle-shrink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes circle-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .result {
    width: 100%;
    justify-content: space-between;
  }
  .result__text {
    width: 150px;
  }
  .result-block_active {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
  }
  .user-choice {
    margin-right: 0;
  }
  .computer-choice {
    margin-left: 0;
  }
  .border {
    width: 80%;
    height: 80px;
    margin-bottom: 80px;
  }
  .score {
    width: 110px;
    height: 80px;
    border-radius: 10px;
  }
  .score__subtitle {
    margin-top: 5px;
  }
  .score__count {
    font-size: 42px;
  }
  .rules-logo {
    height: 80px;
  }
  .game {
    width: 320px;
  }
  .game__triangle {
    width: 260px;
  }
  .circle {
    width: 125px;
    height: 120px;
    margin: auto;
  }
  .btn__return {
    top: 85%;
    right: 50%;
    transform: translate(50%, 0);
  }
  .btn__rules {
    top: 92%;
    right: 50%;
    transform: translate(50%);
  }
}
@media (max-height: 768px) {
  .border {
    margin-bottom: 35px;
  }
  .game {
    margin-bottom: 80px;
  }
  .game__triangle {
    height: 200px;
  }
  .circle {
    width: 110px;
    height: 110px;
    margin: auto;
  }
  .result {
    margin: auto;
  }
  .result__text {
    margin-bottom: 30px;
  }
  .user-choice {
    margin-right: 80px;
  }
  .choice {
    width: 320px;
    margin: auto;
  }
  .result-block_active {
    top: 120px;
  }
  .result-block__title {
    font-size: 30px;
  }
  .result-block__button {
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 40px;
  }
  .btn__return {
    top: 83%;
    left: 50%;
    transform: translate(-50%);
  }
  .btn__rules {
    top: 91%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-heigth: 680px) {
  .game {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=index.css.map */