@import "./../../assets/colors/index.scss";

.count_win {
  transition: all 0.2s ease-in;
  color: $lightGreen;
  font-size: 58px;
}

.count_lose {
  transition: all 0.2s ease-in;
  color: $lightRed;
  font-size: 58px;
}

.game-classic {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 10%;

  &__triangle {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-classic {
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid $headerOutline;
  color: $text;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border-radius: 10px;

  &__return {
    position: absolute;
    top: 90%;
    right: 280px;
  }

  &__rules {
    position: absolute;
    top: 90%;
    right: 100px;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.result-classic {
  display: flex;
  justify-content: center;

  &__text {
    text-transform: uppercase;
    color: $text;
    font-size: 16px;
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
    text-align: center;
  }
}

.block-classic {
  width: 0;
  text-align: center;
  margin-top: 70px;
  display: none;
  transition: all 0.2s ease-in;

  &_active {
    display: block;
    width: 200px;
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    font-size: 38px;
  }

  &__button {
    background-color: $white;
    color: $darkText;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      color: $red;
    }
  }
}

.user-classic {
  margin-right: 50px;
}

.computer-classic {
  margin-left: 50px;
}

.circle-classic {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: $circle;
  animation-name: circle-shrink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes circle-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .result-classic {
    width: 100%;
    justify-content: space-between;

    &__text {
      width: 150px;
    }
  }

  .count_win {
    font-size: 42px;
  }

  .count_lose {
    font-size: 42px;
  }

  .block-classic {
    &_active {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .user-classic {
    margin-right: 0;
  }

  .computer-classic {
    margin-left: 0;
  }

  .game-classic {
    width: 320px;

    &__triangle {
      width: 260px;
    }
  }

  .circle-classic {
    width: 125px;
    height: 120px;
    margin: auto;
  }

  .btn-classic {
    &__return {
      top: 85%;
      right: 50%;
      transform: translate(50%, 0);
    }

    &__rules {
      top: 92%;
      right: 50%;
      transform: translate(50%);
    }
  }
}

@media (max-height: 768px) {
  .game-classic {
    margin-top: 10px;
    margin-bottom: 5%;

    &__triangle {
      height: 200px;
    }
  }

  .circle-classic {
    width: 90px;
    height: 90px;
    margin: auto;
  }

  .result-classic {
    margin-top: 10px;

    &__text {
      margin-bottom: 30px;
    }
  }

  .user-classic {
    margin-right: 80px;
  }

  .choice-classic {
    width: 320px;
    margin: auto;
  }

  .block-classic {
    &_active {
      top: 100px;
    }

    &__title {
      font-size: 30px;
    }

    &__button {
      margin-top: 10px;
      font-size: 14px;
      padding: 10px 40px;
    }
  }

  .btn-classic {
    &__return {
      top: 82%;
      left: 50%;
      transform: translate(-50%);
    }

    &__rules {
      top: 91%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

@media (max-height: 580px) {
  .game-classic {
    margin-top: 0;
  }
}

@media (max-height: 768px) and (max-width: 768px) {
  .user-classic {
    margin-right: 0;
  }
}

@media (max-width: 580px) {
  .game-classic {
    &__triangle {
      width: 200px;
    }
  }

  .circle-classic {
    width: 80px;
    height: 80px;
  }

  .block-classic {
    &_active {
      top: 90px;
    }
  }
}
